{% extends 'index.html' %}
{% block content %}
    <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">{{ user.get_username }} Profile</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"></i></a>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a href="/">Home</a></li>
        </ul>
    </div>
  </nav>

  <!-- {% if request.user.is_authenticated %} -->

<div class="col s12 m7" >
    <h4 class="header"></h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content" style="margin-left: 50px;">
            <button onclick="ChangeColor()" id="follow" ><a href="/following/{{ user.id }}/">Following</a></button>
            <button><a href="/unfollow/{{ user.id }}/">UnFollow</a></button>
    <!-- 
            {%else%}
    <div>
    </div>
    {% endif %} -->
    <div>Following: {{ total_friends }}</div>
    <div>User_tweets: {{ total_tweets }}</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="margin-left: 300px;">
    {% for tweet in tweets%}

<div class="row">
    <div class="col s12 m5">
        <div class="card-panel aqua">
        <span class="black-text">@{{ tweet.twitter}}
        </span>
        <span>{{ tweet.date}}</span>
        <div >
        <span> <a href="/profile/{{tweet.twitter.id}}"> {{ tweet.text}}</a></span>
    </div>
        </div>
    </div>
    </div>
    {%endfor%}
</div>
{%endblock%}
 